<!doctype html>
<html>
	<head>
		<title>Zork App</title>
	    <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<style>
			.game-feedback-container {
				margin-top: 20px;
			}
		</style>
	</head>
	<body ng-app="zorkApp">
		<div class="container">
			<div class="main" ng-controller="MainController as main">
				<div class="row">
					<div class="col-md-12">
						<h1>{{ main.title }}</h1>
						<p class="lead">{{ main.welcome }}</p>
						<form ng-submit="main.runCommand()">
							<div class="control-group">
								<input type="text" id="new-command" ng-model="main.newCommand" class="form-control" placeholder="Enter your command, e.g move north, move south, or look at room">
							</div>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="game-feedback-container well" ng-show="main.description">
							<player-feedback feedback="main"></player-feedback>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modules -->
		<script src="app.js"></script>

		<!-- Controllers -->
		<script src="controllers/mainController.js"></script>

		<!-- Directives -->
		<script src="directives/playerFeedback.js"></script>

		<!-- Services -->
		<script src="services/rooms.js"></script>
	<body>
</html>